@font-face {
    font-family: Opensans;
    src: url("../font/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: slabo;
    src: url("../font/Slabo_27px/Slabo27px-Regular.ttf");
}

body{
    margin: 0;
    background-image:url("../img/fond.png") ;
}
header{
    background-color: #34b1b2;
    border-top: 3px solid #055050;
    border-bottom: 3px solid #055050;
    margin-top: 30px;

}
nav>ul>li{
    display: inline-block;
    font-family: slabo;
    
}
header>img{
    display: block;
    margin: auto;
    
}
nav{
   display: block;
   margin-right: 35px;
   text-align: center;
}
a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: large;
}
h2{
    font-family: slabo;
    font-size: 2.5em;
    text-align: center;
}
.sec1>p{
    margin: 30px 350px;
    text-align: center;
}
.sec2{
    display: inline-block;
    background-color: #b6dedc;
    max-width: 60%;
    margin-left: 150px;
    overflow: auto;
    padding-bottom: 20px;
}
.art1{
    display: inline-block;
    float: left;
    max-width: 50%;
}
.art2{

}
.sec2>h1{
    font-family: slabo;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 30px;
}
article{
    padding: 0px 20px;
                                
}
.sec2>article>img{
    
    border-radius: 60%;
    float: left;
    margin-right: 20px;
}
span{
      color: #055050;
}
aside{
    background-color: #34b1b2;
    max-width: 20vw;
    border: 2px solid #2b9aa0;
    float: right;
    margin-right: 80px;
    color: white;
    position: relative;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}

aside>img{
    position: absolute;
    top: -9%;
    left: 70%;
}
footer>img{
    display: block;
    margin: auto;
    width: 50px;
    margin-top: 10px;
}
footer>p{
    text-align: center;
}
h3{
    font-size: 1.4em;
}
button{
    background-color: #34b1b2;
    color: white;
    border: none;
    padding: 10px;
    float: right;
}
h4{
    font-family: slabo;
    color:#055050;
    font-size: 1.8em;
}
i{
    color: #34b1b2;
}
button>i{
    color: white;
}
aside>p>i{
    color: white;
}
p{
    font-family: Opensans;
}